In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("/content/drive/MyDrive/빅예분3조/Data/prescale/KPU_DATA_MERGE1.csv", encoding='euc-kr')
df2 = pd.read_csv("/content/drive/MyDrive/빅예분3조/Data/prescale/KPU_DATA_MERGE3.csv", encoding='euc-kr')

In [4]:
del df1['Unnamed: 0']
del df2['Unnamed: 0']

In [23]:
df1.columns

Index(['ACPT_YM', 'PLCST_NM', 'RPRT_CASCNT_WHOL', 'TIZN_1', 'TIZN_2', 'TIZN_3',
       'TIZN_4', 'OCRN_DOTW_SNDD', 'OCRN_DOTW_MON', 'OCRN_DOTW_TUE',
       'OCRN_DOTW_WED', 'OCRN_DOTW_THU', 'OCRN_DOTW_FRI', 'OCRN_DOTW_SAT',
       'ADDR', 'SI', 'SGG', 'LON', 'LAT'],
      dtype='object')

In [54]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACPT_YM           8465 non-null   int64
 1   PLCST_NM          8465 non-null   object
 2   RPRT_CASCNT_WHOL  8465 non-null   int64
 3   TIZN_1            8465 non-null   int64
 4   TIZN_2            8465 non-null   int64
 5   TIZN_3            8465 non-null   int64
 6   TIZN_4            8465 non-null   int64
 7   OCRN_DOTW_SNDD    8465 non-null   int64
 8   OCRN_DOTW_MON     8465 non-null   int64
 9   OCRN_DOTW_TUE     8465 non-null   int64
 10  OCRN_DOTW_WED     8465 non-null   int64
 11  OCRN_DOTW_THU     8465 non-null   int64
 12  OCRN_DOTW_FRI     8465 non-null   int64
 13  OCRN_DOTW_SAT     8465 non-null   int64
 14  ADDR              8465 non-null   object
 15  SI                8465 non-null   object
 16  SGG               8459 non-null   object
 17  LON               8416 non-null   float64
 18  LAT               8416 non-null   float64
dtypes: float64(2), int64(13), object(4)
memory usage: 1.2+ MB

In [10]:
df1.drop(columns=['RPRT_SEX_MALE','RPRT_SEX_FMLE','RPRT_SEX_UNKWN','RPRT_SEX_ETC','ACPT_EMERG_TYPE_EMERG','ACPT_EMERG_TYPE_IMPRTNC','ACPT_EMERG_TYPE_GNRL','ACPT_EMERG_TYPE_CVAPP','ACPT_EMERG_TYPE_ETC'], inplace=True)

In [12]:
# 20시-06시 1그룹군
# 12시-19시 2그룹군
# 09시-11시 3그룹군
# 07시-08시 4그룹군
df1['TIZN_1'] = df1['OCRN_TIZN_20'] + df1['OCRN_TIZN_21'] + df1['OCRN_TIZN_22'] + df1['OCRN_TIZN_23'] + df1['OCRN_TIZN_00'] + df1['OCRN_TIZN_01'] + df1['OCRN_TIZN_02'] + df1['OCRN_TIZN_03'] + df1['OCRN_TIZN_04'] + df1['OCRN_TIZN_05'] + df1['OCRN_TIZN_06']
df1['TIZN_2'] = df1['OCRN_TIZN_12'] + df1['OCRN_TIZN_13'] + df1['OCRN_TIZN_14'] + df1['OCRN_TIZN_15'] + df1['OCRN_TIZN_16'] + df1['OCRN_TIZN_17'] + df1['OCRN_TIZN_18'] + df1['OCRN_TIZN_19']
df1['TIZN_3'] = df1['OCRN_TIZN_09'] + df1['OCRN_TIZN_10'] + df1['OCRN_TIZN_11']
df1['TIZN_4'] = df1['OCRN_TIZN_07'] + df1['OCRN_TIZN_08']

In [20]:
df1.drop(columns=df1.columns[df1.columns.str.contains('OCRN_TIZN')], inplace=True)

In [22]:
df1 = df1[['ACPT_YM', 'PLCST_NM', 'RPRT_CASCNT_WHOL', 'TIZN_1', 'TIZN_2', 'TIZN_3', 'TIZN_4','OCRN_DOTW_SNDD',
       'OCRN_DOTW_MON', 'OCRN_DOTW_TUE', 'OCRN_DOTW_WED', 'OCRN_DOTW_THU',
       'OCRN_DOTW_FRI', 'OCRN_DOTW_SAT', 'ADDR', 'SI', 'SGG', 'LON', 'LAT',
       ]]

In [25]:
df1.to_csv("/content/drive/MyDrive/빅예분3조/Data/prescale/KPU_DATA_MERGE1.csv", encoding='euc-kr')

In [27]:
df1

,ACPT_YM,PLCST_NM,RPRT_CASCNT_WHOL,TIZN_1,TIZN_2,TIZN_3,TIZN_4,OCRN_DOTW_SNDD,OCRN_DOTW_MON,OCRN_DOTW_TUE,OCRN_DOTW_WED,OCRN_DOTW_THU,OCRN_DOTW_FRI,OCRN_DOTW_SAT,ADDR,SI,SGG,LON,LAT
0,201901,서울중랑경찰서,37,21,16,0,0,6,8,4,5,6,3,5,서울특별시 중랑구 신내역로3길 40-10(신내동),서울특별시,중랑구,37.618254,127.104468
1,201901,서울노원경찰서,62,22,38,1,1,6,6,13,7,16,5,9,서울특별시 노원구 노원로 283(하계동),서울특별시,노원구,37.641975,127.070799
2,201901,부산해운대경찰서,37,13,24,0,0,3,5,7,6,3,8,5,부산광역시 해운대구 달맞이길62번길 42(중동),부산광역시,해운대구,35.158240,129.171762
3,201901,울산중부경찰서,56,37,19,0,0,7,6,9,8,4,11,11,울산광역시 중구 번영로 620(남외동),울산광역시,중구,35.569829,129.349216
4,201901,대구성서경찰서,24,18,6,0,0,6,1,5,0,5,2,5,대구광역시 달서구 달구벌대로259길 15(이곡동),대구광역시,달서구,35.853219,128.508774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8460,202112,인천논현경찰서,39,18,20,0,1,8,1,7,1,4,4,14,인천광역시 남동구 논현고잔로 239,인천광역시,남동구,37.404077,126.715039
8461,202112,부산중부경찰서,19,12,7,0,0,0,1,0,2,6,4,6,부산광역시 중구 중앙대로 105(대창동1가),부산광역시,중구,35.107421,129.035925
8462,202112,대전서부경찰서,20,8,12,0,0,4,3,1,4,3,2,3,대전광역시 서구 복수서로 47(복수동),대전광역시,서구,36.309045,127.373459
8463,202112,함안경찰서,1,1,0,0,0,0,1,0,0,0,0,0,경상남도 함안군 가야읍 가야로 85,경상남도,함안군,35.279147,128.410910
8464,202112,상주경찰서,1,1,0,0,0,0,1,0,0,0,0,0,경상북도 상주시 왕산로 119(남성동),경상북도,상주시,36.410939,128.161917

In [53]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8527 entries, 0 to 8526
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ACPT_YM                  8527 non-null   int64
 1   PLCST_NM                 8527 non-null   object
 2   RPRT_CASCNT_WHOL         8527 non-null   int64
 3   OCRN_DOTW_SNDD           8527 non-null   int64
 4   OCRN_DOTW_MON            8527 non-null   int64
 5   OCRN_DOTW_TUE            8527 non-null   int64
 6   OCRN_DOTW_WED            8527 non-null   int64
 7   OCRN_DOTW_THU            8527 non-null   int64
 8   OCRN_DOTW_FRI            8527 non-null   int64
 9   OCRN_DOTW_SAT            8527 non-null   int64
 10  ADDR                     8527 non-null   object
 11  SI                       8527 non-null   object
 12  SGG                      8521 non-null   object
 13  LON                      8478 non-null   float64
 14  LAT                      8478 non-null   float64
 15  SCHOOL_RPRT_CASCNT_WHOL  5494 non-null   float64
 16  SCHOOL_OCRN_DOTW_SNDD    5494 non-null   float64
 17  SCHOOL_OCRN_DOTW_MON     5494 non-null   float64
 18  SCHOOL_OCRN_DOTW_TUE     5494 non-null   float64
 19  SCHOOL_OCRN_DOTW_WED     5494 non-null   float64
 20  SCHOOL_OCRN_DOTW_THU     5494 non-null   float64
 21  SCHOOL_OCRN_DOTW_FRI     5494 non-null   float64
 22  SCHOOL_OCRN_DOTW_SAT     5494 non-null   float64
 23  STRD_YR                  8527 non-null   int64
 24  CHILD_RPRT_CASCNT_WHOL   8527 non-null   int64
 25  CHILD_DSTVC_RPRT_CNT     8527 non-null   int64
 26  CHILD_CHLAB_ASMP         8527 non-null   int64
 27  CHILD_CHLAB_ETC          8527 non-null   int64
 28  CHILD_OCRN_DOTW_SNDD     8527 non-null   int64
 29  CHILD_OCRN_DOTW_MON      8527 non-null   int64
 30  CHILD_OCRN_DOTW_TUE      8527 non-null   int64
 31  CHILD_OCRN_DOTW_WED      8527 non-null   int64
 32  CHILD_OCRN_DOTW_THU      8527 non-null   int64
 33  CHILD_OCRN_DOTW_FRI      8527 non-null   int64
 34  CHILD_OCRN_DOTW_SAT      8527 non-null   int64
 35  TIZN_1                   8527 non-null   int64
 36  TIZN_2                   8527 non-null   int64
 37  TIZN_3                   8527 non-null   int64
 38  TIZN_4                   8527 non-null   int64
 39  CHILD_TIZN_1             8527 non-null   int64
 40  CHILD_TIZN_2             8527 non-null   int64
 41  CHILD_TIZN_3             8527 non-null   int64
 42  CHILD_TIZN_4             8527 non-null   int64
 43  SCHOOL_TIZN_1            5494 non-null   float64
 44  SCHOOL_TIZN_2            5494 non-null   float64
 45  SCHOOL_TIZN_3            5494 non-null   float64
 46  SCHOOL_TIZN_4            5494 non-null   float64
dtypes: float64(14), int64(29), object(4)
memory usage: 3.1+ MB

In [29]:
df2['TIZN_1'] = df2['OCRN_TIZN_20'] + df2['OCRN_TIZN_21'] + df2['OCRN_TIZN_22'] + df2['OCRN_TIZN_23'] + df2['OCRN_TIZN_00'] + df2['OCRN_TIZN_01'] + df2['OCRN_TIZN_02'] + df2['OCRN_TIZN_03'] + df2['OCRN_TIZN_04'] + df2['OCRN_TIZN_05'] + df2['OCRN_TIZN_06']
df2['TIZN_2'] = df2['OCRN_TIZN_12'] + df2['OCRN_TIZN_13'] + df2['OCRN_TIZN_14'] + df2['OCRN_TIZN_15'] + df2['OCRN_TIZN_16'] + df2['OCRN_TIZN_17'] + df2['OCRN_TIZN_18'] + df2['OCRN_TIZN_19']
df2['TIZN_3'] = df2['OCRN_TIZN_09'] + df2['OCRN_TIZN_10'] + df2['OCRN_TIZN_11']
df2['TIZN_4'] = df2['OCRN_TIZN_07'] + df2['OCRN_TIZN_08']

In [39]:
df2['CHILD_TIZN_1'] = df2['CHILD_OCRN_TIZN_20'] + df2['CHILD_OCRN_TIZN_21'] + df2['CHILD_OCRN_TIZN_22'] + df2['CHILD_OCRN_TIZN_23'] + df2['CHILD_OCRN_TIZN_00'] + df2['CHILD_OCRN_TIZN_01'] + df2['CHILD_OCRN_TIZN_02'] + df2['CHILD_OCRN_TIZN_03'] + df2['CHILD_OCRN_TIZN_04'] + df2['CHILD_OCRN_TIZN_05'] + df2['CHILD_OCRN_TIZN_06']
df2['CHILD_TIZN_2'] = df2['CHILD_OCRN_TIZN_12'] + df2['CHILD_OCRN_TIZN_13'] + df2['CHILD_OCRN_TIZN_14'] + df2['CHILD_OCRN_TIZN_15'] + df2['CHILD_OCRN_TIZN_16'] + df2['CHILD_OCRN_TIZN_17'] + df2['CHILD_OCRN_TIZN_18'] + df2['CHILD_OCRN_TIZN_19']
df2['CHILD_TIZN_3'] = df2['CHILD_OCRN_TIZN_09'] + df2['CHILD_OCRN_TIZN_10'] + df2['CHILD_OCRN_TIZN_11']
df2['CHILD_TIZN_4'] = df2['CHILD_OCRN_TIZN_07'] + df2['CHILD_OCRN_TIZN_08']

In [46]:
df2['SCHOOL_TIZN_1'] = df2['SCHOOL_OCRN_TIZN_20'] + df2['SCHOOL_OCRN_TIZN_21'] + df2['SCHOOL_OCRN_TIZN_22'] + df2['SCHOOL_OCRN_TIZN_23'] + df2['SCHOOL_OCRN_TIZN_00'] + df2['SCHOOL_OCRN_TIZN_01'] + df2['SCHOOL_OCRN_TIZN_02'] + df2['SCHOOL_OCRN_TIZN_03'] + df2['SCHOOL_OCRN_TIZN_04'] + df2['SCHOOL_OCRN_TIZN_05'] + df2['SCHOOL_OCRN_TIZN_06']
df2['SCHOOL_TIZN_2'] = df2['SCHOOL_OCRN_TIZN_12'] + df2['SCHOOL_OCRN_TIZN_13'] + df2['SCHOOL_OCRN_TIZN_14'] + df2['SCHOOL_OCRN_TIZN_15'] + df2['SCHOOL_OCRN_TIZN_16'] + df2['SCHOOL_OCRN_TIZN_17'] + df2['SCHOOL_OCRN_TIZN_18'] + df2['SCHOOL_OCRN_TIZN_19']
df2['SCHOOL_TIZN_3'] = df2['SCHOOL_OCRN_TIZN_09'] + df2['SCHOOL_OCRN_TIZN_10'] + df2['SCHOOL_OCRN_TIZN_11']
df2['SCHOOL_TIZN_4'] = df2['SCHOOL_OCRN_TIZN_07'] + df2['SCHOOL_OCRN_TIZN_08']

In [44]:
df2.drop(columns=df2.columns[df2.columns.str.contains('RPRT_SEX_')], inplace=True)

In [45]:
df2.drop(columns=df2.columns[df2.columns.str.contains('ACPT_EMERG_')], inplace=True)

In [51]:
df2.columns

Index(['ACPT_YM', 'PLCST_NM', 'RPRT_CASCNT_WHOL', 'OCRN_DOTW_SNDD',
       'OCRN_DOTW_MON', 'OCRN_DOTW_TUE', 'OCRN_DOTW_WED', 'OCRN_DOTW_THU',
       'OCRN_DOTW_FRI', 'OCRN_DOTW_SAT', 'ADDR', 'SI', 'SGG', 'LON', 'LAT',
       'SCHOOL_RPRT_CASCNT_WHOL', 'SCHOOL_OCRN_DOTW_SNDD',
       'SCHOOL_OCRN_DOTW_MON', 'SCHOOL_OCRN_DOTW_TUE', 'SCHOOL_OCRN_DOTW_WED',
       'SCHOOL_OCRN_DOTW_THU', 'SCHOOL_OCRN_DOTW_FRI', 'SCHOOL_OCRN_DOTW_SAT',
       'STRD_YR', 'CHILD_RPRT_CASCNT_WHOL', 'CHILD_DSTVC_RPRT_CNT',
       'CHILD_CHLAB_ASMP', 'CHILD_CHLAB_ETC', 'CHILD_OCRN_DOTW_SNDD',
       'CHILD_OCRN_DOTW_MON', 'CHILD_OCRN_DOTW_TUE', 'CHILD_OCRN_DOTW_WED',
       'CHILD_OCRN_DOTW_THU', 'CHILD_OCRN_DOTW_FRI', 'CHILD_OCRN_DOTW_SAT',
       'TIZN_1', 'TIZN_2', 'TIZN_3', 'TIZN_4', 'CHILD_TIZN_1', 'CHILD_TIZN_2',
       'CHILD_TIZN_3', 'CHILD_TIZN_4', 'SCHOOL_TIZN_1', 'SCHOOL_TIZN_2',
       'SCHOOL_TIZN_3', 'SCHOOL_TIZN_4'],
      dtype='object')

In [50]:
df2.drop(columns=df2.columns[df2.columns.str.contains('OCRN_TIZN_')], inplace=True)

In [52]:
df2

,ACPT_YM,PLCST_NM,RPRT_CASCNT_WHOL,OCRN_DOTW_SNDD,OCRN_DOTW_MON,OCRN_DOTW_TUE,OCRN_DOTW_WED,OCRN_DOTW_THU,OCRN_DOTW_FRI,OCRN_DOTW_SAT,...,TIZN_3,TIZN_4,CHILD_TIZN_1,CHILD_TIZN_2,CHILD_TIZN_3,CHILD_TIZN_4,SCHOOL_TIZN_1,SCHOOL_TIZN_2,SCHOOL_TIZN_3,SCHOOL_TIZN_4
0,201901,서울중랑경찰서,37,6,8,4,5,6,3,5,...,0,0,1617,630,181,83,1.0,2.0,0.0,0.0
1,201901,서울노원경찰서,62,6,6,13,7,16,5,9,...,1,1,1776,770,253,108,1.0,1.0,0.0,0.0
2,201901,부산해운대경찰서,37,3,5,7,6,3,8,5,...,0,0,1104,482,142,95,1.0,0.0,0.0,0.0
3,201901,울산중부경찰서,56,7,6,9,8,4,11,11,...,0,0,1396,649,173,72,2.0,5.0,1.0,0.0
4,201901,대구성서경찰서,24,6,1,5,0,5,2,5,...,0,0,862,362,125,54,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8522,202112,인천논현경찰서,39,8,1,7,1,4,4,14,...,0,1,1010,516,139,60,4.0,3.0,1.0,0.0
8523,202112,부산중부경찰서,19,0,1,0,2,6,4,6,...,0,0,103,36,5,6,1.0,0.0,0.0,0.0
8524,202112,대전서부경찰서,20,4,3,1,4,3,2,3,...,0,0,1029,473,133,69,0.0,4.0,0.0,0.0
8525,202112,함안경찰서,1,0,1,0,0,0,0,0,...,0,0,87,58,13,4,0.0,1.0,0.0,0.0
8526,202112,상주경찰서,1,0,1,0,0,0,0,0,...,0,0,183,82,16,12,NaN,NaN,NaN,NaN

In [57]:
df2 = df2[['ACPT_YM', 'PLCST_NM', 'RPRT_CASCNT_WHOL', 'OCRN_DOTW_SNDD',
       'OCRN_DOTW_MON', 'OCRN_DOTW_TUE', 'OCRN_DOTW_WED', 'OCRN_DOTW_THU',
       'OCRN_DOTW_FRI', 'OCRN_DOTW_SAT', 'TIZN_1', 'TIZN_2', 'TIZN_3', 'TIZN_4',
       'SCHOOL_RPRT_CASCNT_WHOL', 'SCHOOL_OCRN_DOTW_SNDD',
       'SCHOOL_OCRN_DOTW_MON', 'SCHOOL_OCRN_DOTW_TUE', 'SCHOOL_OCRN_DOTW_WED',
       'SCHOOL_OCRN_DOTW_THU', 'SCHOOL_OCRN_DOTW_FRI', 'SCHOOL_OCRN_DOTW_SAT',
       'SCHOOL_TIZN_1', 'SCHOOL_TIZN_2',
       'SCHOOL_TIZN_3', 'SCHOOL_TIZN_4',
       'STRD_YR', 'CHILD_RPRT_CASCNT_WHOL', 'CHILD_DSTVC_RPRT_CNT',
       'CHILD_CHLAB_ASMP', 'CHILD_CHLAB_ETC', 'CHILD_OCRN_DOTW_SNDD',
       'CHILD_OCRN_DOTW_MON', 'CHILD_OCRN_DOTW_TUE', 'CHILD_OCRN_DOTW_WED',
       'CHILD_OCRN_DOTW_THU', 'CHILD_OCRN_DOTW_FRI', 'CHILD_OCRN_DOTW_SAT',
       'CHILD_TIZN_1', 'CHILD_TIZN_2',
       'CHILD_TIZN_3', 'CHILD_TIZN_4', 
       'ADDR', 'SI', 'SGG', 'LON', 'LAT'
       ]]

In [71]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8527 entries, 0 to 8526
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ACPT_YM                  8527 non-null   int64
 1   PLCST_NM                 8527 non-null   object
 2   RPRT_CASCNT_WHOL         8527 non-null   int64
 3   OCRN_DOTW_SNDD           8527 non-null   int64
 4   OCRN_DOTW_MON            8527 non-null   int64
 5   OCRN_DOTW_TUE            8527 non-null   int64
 6   OCRN_DOTW_WED            8527 non-null   int64
 7   OCRN_DOTW_THU            8527 non-null   int64
 8   OCRN_DOTW_FRI            8527 non-null   int64
 9   OCRN_DOTW_SAT            8527 non-null   int64
 10  TIZN_1                   8527 non-null   int64
 11  TIZN_2                   8527 non-null   int64
 12  TIZN_3                   8527 non-null   int64
 13  TIZN_4                   8527 non-null   int64
 14  SCHOOL_RPRT_CASCNT_WHOL  5494 non-null   object
 15  SCHOOL_OCRN_DOTW_SNDD    5494 non-null   object
 16  SCHOOL_OCRN_DOTW_MON     5494 non-null   object
 17  SCHOOL_OCRN_DOTW_TUE     5494 non-null   object
 18  SCHOOL_OCRN_DOTW_WED     5494 non-null   object
 19  SCHOOL_OCRN_DOTW_THU     5494 non-null   object
 20  SCHOOL_OCRN_DOTW_FRI     5494 non-null   object
 21  SCHOOL_OCRN_DOTW_SAT     5494 non-null   object
 22  SCHOOL_TIZN_1            5494 non-null   object
 23  SCHOOL_TIZN_2            5494 non-null   object
 24  SCHOOL_TIZN_3            5494 non-null   object
 25  SCHOOL_TIZN_4            5494 non-null   object
 26  STRD_YR                  8527 non-null   int64
 27  CHILD_RPRT_CASCNT_WHOL   8527 non-null   int64
 28  CHILD_DSTVC_RPRT_CNT     8527 non-null   int64
 29  CHILD_CHLAB_ASMP         8527 non-null   int64
 30  CHILD_CHLAB_ETC          8527 non-null   int64
 31  CHILD_OCRN_DOTW_SNDD     8527 non-null   int64
 32  CHILD_OCRN_DOTW_MON      8527 non-null   int64
 33  CHILD_OCRN_DOTW_TUE      8527 non-null   int64
 34  CHILD_OCRN_DOTW_WED      8527 non-null   int64
 35  CHILD_OCRN_DOTW_THU      8527 non-null   int64
 36  CHILD_OCRN_DOTW_FRI      8527 non-null   int64
 37  CHILD_OCRN_DOTW_SAT      8527 non-null   int64
 38  CHILD_TIZN_1             8527 non-null   int64
 39  CHILD_TIZN_2             8527 non-null   int64
 40  CHILD_TIZN_3             8527 non-null   int64
 41  CHILD_TIZN_4             8527 non-null   int64
 42  ADDR                     8527 non-null   object
 43  SI                       8527 non-null   object
 44  SGG                      8521 non-null   object
 45  LON                      8478 non-null   float64
 46  LAT                      8478 non-null   float64
dtypes: float64(2), int64(29), object(16)
memory usage: 3.1+ MB

In [62]:
df2.columns[df2.columns.str.contains('SCHOOL_OCRN_DOTW_')]

Index(['SCHOOL_OCRN_DOTW_SNDD', 'SCHOOL_OCRN_DOTW_MON', 'SCHOOL_OCRN_DOTW_TUE',
       'SCHOOL_OCRN_DOTW_WED', 'SCHOOL_OCRN_DOTW_THU', 'SCHOOL_OCRN_DOTW_FRI',
       'SCHOOL_OCRN_DOTW_SAT'],
      dtype='object')

In [64]:
df2[df2.columns[df2.columns.str.contains('SCHOOL_OCRN_DOTW_')]] = df2[df2.columns[df2.columns.str.contains('SCHOOL_OCRN_DOTW_')]].fillna(-1).astype('int8').replace({-1: None})

In [65]:
df2[df2.columns[df2.columns.str.contains('SCHOOL_TIZN')]] = df2[df2.columns[df2.columns.str.contains('SCHOOL_TIZN')]].fillna(-1).astype('int8').replace({-1: None})

In [69]:
df2[df2.columns[df2.columns.str.contains('SCHOOL_RPRT_CASCNT_WHOL')]] = df2[df2.columns[df2.columns.str.contains('SCHOOL_RPRT_CASCNT_WHOL')]].fillna(-1).astype('int8').replace({-1: None})

In [72]:
df2

,ACPT_YM,PLCST_NM,RPRT_CASCNT_WHOL,OCRN_DOTW_SNDD,OCRN_DOTW_MON,OCRN_DOTW_TUE,OCRN_DOTW_WED,OCRN_DOTW_THU,OCRN_DOTW_FRI,OCRN_DOTW_SAT,...,CHILD_OCRN_DOTW_SAT,CHILD_TIZN_1,CHILD_TIZN_2,CHILD_TIZN_3,CHILD_TIZN_4,ADDR,SI,SGG,LON,LAT
0,201901,서울중랑경찰서,37,6,8,4,5,6,3,5,...,403,1617,630,181,83,서울특별시 중랑구 신내역로3길 40-10(신내동),서울특별시,중랑구,37.618254,127.104468
1,201901,서울노원경찰서,62,6,6,13,7,16,5,9,...,468,1776,770,253,108,서울특별시 노원구 노원로 283(하계동),서울특별시,노원구,37.641975,127.070799
2,201901,부산해운대경찰서,37,3,5,7,6,3,8,5,...,300,1104,482,142,95,부산광역시 해운대구 달맞이길62번길 42(중동),부산광역시,해운대구,35.158240,129.171762
3,201901,울산중부경찰서,56,7,6,9,8,4,11,11,...,387,1396,649,173,72,울산광역시 중구 번영로 620(남외동),울산광역시,중구,35.569829,129.349216
4,201901,대구성서경찰서,24,6,1,5,0,5,2,5,...,212,862,362,125,54,대구광역시 달서구 달구벌대로259길 15(이곡동),대구광역시,달서구,35.853219,128.508774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8522,202112,인천논현경찰서,39,8,1,7,1,4,4,14,...,274,1010,516,139,60,인천광역시 남동구 논현고잔로 239,인천광역시,남동구,37.404077,126.715039
8523,202112,부산중부경찰서,19,0,1,0,2,6,4,6,...,30,103,36,5,6,부산광역시 중구 중앙대로 105(대창동1가),부산광역시,중구,35.107421,129.035925
8524,202112,대전서부경찰서,20,4,3,1,4,3,2,3,...,247,1029,473,133,69,대전광역시 서구 복수서로 47(복수동),대전광역시,서구,36.309045,127.373459
8525,202112,함안경찰서,1,0,1,0,0,0,0,0,...,33,87,58,13,4,경상남도 함안군 가야읍 가야로 85,경상남도,함안군,35.279147,128.410910
8526,202112,상주경찰서,1,0,1,0,0,0,0,0,...,49,183,82,16,12,경상북도 상주시 왕산로 119(남성동),경상북도,상주시,36.410939,128.161917

In [73]:
df2.to_csv("/content/drive/MyDrive/빅예분3조/Data/prescale/KPU_DATA_MERGE3.csv", encoding='euc-kr')